* {
  box-sizing: border-box;
}
body {
  background-color: blueviolet;
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-image: url(./Rectangleheader-1.png);
  height: 100%;
  background-repeat: no-repeat;
  flex: 1 1 650px;
  background-color: #996B60;
}
header .nav{
  display: flex;
}
header .nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
header .nav ul li a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 15px;
}
header .nav .div-h1 {
  color: white;
  margin: 0 auto;
}